* {
    margin: 0;
    padding: 0;
}

body {
    background: url("./imgs/bg.png") no-repeat;
    background-size: cover;
    text-align: center;
}

#main {
    /*background-color: white;*/
    /*display: inline-block;*/
    /*text-align: left;*/
    /*padding: 30px;*/
    /*border-radius: 5px;*/
    /*box-shadow: -20px 20px 50px;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%,-50%);*/

    background-color: white;
    /*改变标签类型  大小根据内容来*/
    display: inline-block;
    /*重写*/
    text-align: left;
    /*上边距*/
    margin-top: 150px;
    /*填充--内边距*/
    padding: 30px;
    /*设置圆角*/
    border-radius: 5px;
    /*设置阴影*/
    box-shadow: -20px 20px 50px;
}

#header {
    text-align: center;
    margin-bottom: 15px;
}

#header h2 {
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dddddd;
    display: inline-block;
}

#content {

}

.user-pwd {
    height: 38px;
    margin-bottom: 15px;
    position: relative;
}

.user-pwd img {
    position: absolute;
    left: 5px;
    top: 5px;
}

.user-pwd input {
    width: 100%;
    height: 100%;
    padding-left: 38px;
    border-radius: 8px;
    border: 1px solid #dddddd;
    box-sizing: border-box;
}

.user-pwd input:focus {
    border-color: orange;
    outline: none;
    box-shadow: 0 0 10px orange;
}

a {
    color: darkgray;
    text-decoration: none;
    font-size: 13px;
}

#setting {
    margin-bottom: 15px;
}

#setting a {
    margin-left: 5px;
}

.forget-pwd {
    float: right;
}

.login-btn {
    width: 100%;
    height: 35px;
    border: 0;
    background-color: orangered;
    color: white;
    font-size: 18px;
    border-radius: 5px;
}

#reg {
    margin: 10px 0;
    text-align: center;
    font-size: 13px;
}

#reg a {
    color: red;
}

#bottom {
    height: 38px;
    line-height: 38px;
}

#bottom a {
    height: 30px;
    width: 30px;
}

#bottom img {
    height: 30px;
    width: 30px;
    vertical-align: middle;
}